<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>Token info</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Copyright -->
    <meta name="author" content="Noah Elijah Till"/>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2" crossorigin="anonymous"></script>
</head>
<body>

<div id="manager" class="container mt-5">
    <div class="container d-flex flex-column">
        <div class="d-flex flex-row align-items-center mb-3">
            <h1 class="flex-grow-1 text-white">Token Info</h1>
            <button class="btn btn-danger pl-2 h-50" onclick="window.location.href = '/manager?a=token'">Back</button>
        </div>
        <div class="bg-body-secondary rounded-3 shadow p-4">
                <h1>Token Name: {{.Name}}</h1>
                <h2>Token ID: {{.ID}}</h2>
                <h2>Created: {{.DateCreated}}</h2>
                <h2>Expires: {{.DateExpires}}</h2>
                <h2>Count: {{.Count}}</h2>
                <h2>Used: {{.Used}}</h2>
                <br>
                <h1>Management</h1>
                <button class="btn btn-danger" @click="deleteToken()">Delete</button>
        </div>
    </div>
</div>

<script>
    let manager = new Vue({
        el: '#manager',
        methods: {
            deleteToken: async function () {
                //confirm delete
                if (!confirm("Are you sure you want to delete this token?")) {
                    return
                }
                //delete token
                let res = await fetch("/manager/token/" + '{{.ID}}', {
                    method: "DELETE"
                }).then((res) => {
                    return res;
                });

                if (res.status === 200) {
                    //reload page
                    document.location.href = "/manager?a=token"
                } else {
                    //error
                    alert("Error deleting token")
                }
            },
        },
    });
</script>
</body>
</html>
