<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <title>Create Token</title>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Copyright -->
    <meta name="author" content="Noah Elijah Till"/>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2" crossorigin="anonymous"></script>
</head>
<body>

<div id="token-manager" class="container mt-5">
    <div class="container d-flex flex-column">
        <div class="d-flex flex-row align-items-center mb-3">
            <h1 class="flex-grow-1 text-white">Create Token</h1>
            <button class="btn btn-danger pl-2 h-50" onclick="window.location.href = '/manager?a=token'">Back</button>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <div class="form-floating mb-4">
                <input v-model="name" type="text" class="form-control" id="floatingInput" placeholder="Token Name">
                <label for="floatingInput">Name</label>
                <div id="emailHelp" class="form-text">A name to identify the token in the system</div>
            </div>
            <div class="mb-4 mt-3">
                <h2>User Group</h2>
                <div class="container column container bg-body-tertiary rounded-3 shadow p-3" id="userGroup">
                    {{if .Groups}}
                        {{range .Groups}}
                            <div class="d-flex flex-row justify-content-between align-items-center p-3">
                                <p class="mb-0">{{.Name}}</p>
                                <a target="_blank"
                                   href="https://github.com/{{.GitHubOwner}}/{{.GitHubRepo}}">{{.GitHubOwner}}
                                    /{{.GitHubRepo}}</a>
                                <p class="mb-0">Created: {{.Date}}</p>
                                <button v-if="userGroup == '{{.ID}}'" class="btn btn-danger" @click="select('')">
                                    <span class="material-icons align-middle fs-5">close</span>
                                </button>
                                <button v-if="userGroup != '{{.ID}}'" class="btn btn-primary"
                                        @click="select('{{.ID}}')"><span
                                            class="material-icons align-middle fs-5">check</span>
                                </button>
                            </div>
                        {{end}}
                    {{else}}
                        <p>No User Groups</p>
                        <button class="btn btn-primary" onclick="window.location.href = '/manager/group/create'">Create
                            User Group
                        </button>
                    {{end}}
                </div>
            </div>
            <div class="mb-4 form-floating">
                <input v-model="times" type="number" class="form-control" id="times">
                <label for="times">Count</label>
                <div id="emailHelp" class="form-text">How many times can this token be used</div>
            </div>
            <div class="mb-4 form-floating">
                <input v-model="dateExpires" type="datetime-local" class="form-control" id="dateExpires" step="60">
                <label for="dateExpires">Expiry</label>
                <div id="emailHelp" class="form-text">When will this token no longer be usable?</div>
            </div>
            <div class="mb-4 form-check">
                <input type="checkbox" v-model="directAdd" class="form-check-input" id="directAdd">
                <label class="form-check-label" for="directAdd">Direct Add Users</label>
                <div id="emailHelp" class="form-text">Are users added directly to the repository?</div>
            </div>
            <div class="mb-4 d-flex justify-content-center">
                <button @click="submit()" class="btn btn-success p-3 pt-1 pb-1 align-center fs-4">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>
    var main = new Vue({
        el: '#token-manager',
        data: {
            name: "",
            userGroup: "",
            directAdd: true,
            dateExpires: "",
            times: 1
        },
        created: function () {
            var date = new Date(Date.now() + 5 * 60000);

            //format date
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();

            var hour = date.getHours();
            var minute = date.getMinutes();

            if (month < 10) month = "0" + month;
            if (day < 10) day = "0" + day;

            if (hour < 10) hour = "0" + hour;
            if (minute < 10) minute = "0" + minute;

            this.dateExpires = year + "-" + month + "-" + day + "T" + hour + ":" + minute;
        },
        methods: {
            submit: async function () {
                let response = await fetch('/manager/token/create', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: this.name,
                        userGroup: this.userGroup,
                        directAdd: this.directAdd,
                        dateExpires: this.dateExpires,
                        count: this.times.toString()
                    })
                }).then((res) => {
                    return res;
                });
                // Send info if it fails
                if (response.status !== 200) {
                    alert("Failed to create token");
                } else {
                    alert("Token created");
                    //show qr code
                    let data = await response.json();
                    window.location.href = "/token/" + data.token;
                }
            },
            select: function (id) {
                this.userGroup = id;
            }
        }
    });
</script>
</body>
</html>
